@import "variables";

// Importing full Spectre.css source code
@import "node_modules/spectre.css/src/spectre";

.mt-auto {
  margin-top: auto;
}
.mr-auto {
  margin-right: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
